&lpuart2 {
    current-speed=<0x38400>;
};

&fs26_wdt {
    status="disabled";
};

&eirq0_default {
    group1 {
        pinmux = <PTD15_EIRQ31>, <PTA18_EIRQ0>, <PTA25_EIRQ5>, <PTD5_EIRQ13>;
        input-enable;
    };
};
